# Standardize line endings to LF
* text=auto eol=lf

# Explicitly declare binary files
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.wav binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.zip binary
*.tar binary
*.gz binary
*.7z binary
*.exe binary
*.dll binary
*.so binary
*.pyc binary
